@use '../../../base/Variables.scss' as *;
.section_product_intro{
    display: grid;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 80px 20px;
}

.section_our_product{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
    padding: 10px;
    max-width: 900px;
    gap: 20px;
}

.avtar_img{
    background-image: url(/public/icon/avatar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
}


.section_product_title{
    margin-top: 60px;
    max-width: 570px;
    height: auto;
    padding: 10px;
}

.small_title{
    font-size: 16px;
}

.product_title{
    color: $color-primary;
    font-size: 47px;
    line-height: 1.3;
    letter-spacing: 1.2px;
    margin-top: 10px;
}


.product_subtitle{
    font-size: 16px;
    letter-spacing: 1px;
    max-width: 450px;
    margin-top: 10px;
}

.btn_product{
    border: none;
    background-color: $color-primary;
    color: #fff;
    font-size: 15px;
    width: 35%;
    height: 55px;
    margin-top: 20px;
    &:hover{
        cursor: pointer;
        opacity: 0.9;
    }
}

@media (max-width:1200px) {
    .section_product_intro{
    height: auto;

    .avtar_img{
    height: 400px;
}
}
}



@media (max-width:859px) {
.section_our_product{

    grid-template-columns: 1fr;

}
}