$color-primary:#01996D;
$color-primary-bg:#245852;
$color-modal-black: rgba(0, 0, 0, 0.7);
// About Us color

$color-about-hero: #f2e8d1;
$color-mint:#4caf93;
$color-black-green:#3d5a54;
$color-setcion3-div:#fbf5fb;

// Text Open Sans

$main-font: "Open Sans", sans-serif;

